        case '%%_NAME_%%':
            from daos.%%_DAO_%% import %%_DAO_%%
            v%%_DAO_%% = %%_DAO_%%( db_file )
            match ope:
                case 'read':
                    result = v%%_DAO_%%.get_%%_NAME_%%( id )
                case 'create':
                    result = v%%_DAO_%%.create_%%_NAME_%%( payload.get('data', {}) )
                case 'update':
                    result = v%%_DAO_%%.update_%%_NAME_%%( id, payload.get('data', {}) )
                case 'delete':
                    result = v%%_DAO_%%.delete_%%_NAME_%%( id )
                case _:
                    result = "Método no soportado"

            # Traducimos SQL code a HTTP code
            if result is None:  # No return
                code = 500
            else:               # SQL ok -> code 0 or 101:
                code = 200

            return {
                "code": code,
                "payload": payload,
                "res": result
            }

