# ----------------------------------------------------------------------------
# Plantilla: WORKER
# ----------------------------------------------------------------------------
def worker(payload: dict) -> dict:
    """Procesador de tareas (llama a los DAO)"""
    log.debug(f"Procesando: {payload}")

    # retardo para simular carga de la base de datos
    import time
    time.sleep(2)


    coleccion = payload.get('coleccion', '')
    id = payload.get('id', None)
    ope = payload.get('ope', None)
    match coleccion:
%%_TABLAS_%%        
        case _:
            return {'code': 500, 'error': f'Coleccion {coleccion} incorrecta'}

# ----------------------------------------------------------------------------
