# ----------------------------------------------------------------------------
# Plantilla: WORKER
# ----------------------------------------------------------------------------
def worker(payload: dict) -> dict:
    """Procesador de tareas (llama a los DAO)"""
    log.debug(f"Procesando: {payload}")

    """
    # retardo para pruebas
    import time
    time.sleep(1)
    """

    coleccion = payload.get('coleccion', '')
    id = payload.get('id', None)
    match coleccion:
%%_TABLAS_%%        
        case _:
            return {'code': 500, 'error': f'Coleccion {coleccion} incorrecta'}

# ----------------------------------------------------------------------------
